.deps
COPYING
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
core
depcomp
install-sh
missing
stamp-h1
/link-warning.h
*.o
occurs
