*~
.deps
*.o
/Cargo.lock
/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/link-warning.h
/syms
/TAGS
/cmdline.c
/cmdline.h
/snippet
/pg100.txt
/target