/Makefile.am
/dummy.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/gettext.h
/gl_anylinked_list1.h
/gl_anylinked_list2.h
/gl_linked_list.c
/gl_linked_list.h
/gl_list.c
/gl_list.h
/intprops.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdlib.in.h
/strerror.c
/string.in.h
/unistd.in.h
/wchar.in.h
/xalloc-die.c
/xalloc.h
/xmalloc.c
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/alloca.c
/alloca.in.h
/btowc.c
/localcharset.c
/localcharset.h
/mbrtowc.c
/mbsinit.c
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/streq.h
/verify.h
/wcrtomb.c
/wctype.in.h
/alloca.h
/charset.alias
/configmake.h
/libgnu.a
/ref-add.sed
/ref-del.sed
/stdlib.h
/string.h
/unistd.h
/langinfo.in.h
/mbtowc-impl.h
/mbtowc.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/nl_langinfo.c
/strerror-override.c
/strerror-override.h
/sys_types.in.h
/xalloc-oversized.h
/gl_xlist.c
/gl_xlist.h
/Makefile
/Makefile.in
/arg-nonnull.h
/c++defs.h
/langinfo.h
/strings.h
/sys
/warn-on-use.h
/wchar.h
/wctype.h
/bitrotate.h
/hash.c
/hash.h
/asnprintf.c
/asprintf.c
/float+.h
/float.c
/float.in.h
/memchr.c
/memchr.valgrind
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/size_max.h
/stdio.in.h
/stdio.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/xsize.h
/getline.c
/getdelim.c
/stdarg.in.h
/itold.c
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/quote.h
/quotearg.c
/quotearg.h
/_Noreturn.h
/attribute.h
/basename-lgpl.c
/basename-lgpl.h
/cdefs.h
/cloexec.c
/cloexec.h
/close.c
/dup2.c
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/filename.h
/fstat.c
/getdtablesize.c
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getprogname.c
/getprogname.h
/hard-locale.c
/hard-locale.h
/inttypes.in.h
/lc-charset-dispatch.c
/lc-charset-dispatch.h
/libc-config.h
/limits.in.h
/locale.in.h
/localeconv.c
/malloca.c
/malloca.h
/mbrtowc-impl-utf8.h
/mbrtowc-impl.h
/mbtowc-lock.c
/mbtowc-lock.h
/minmax.h
/open.c
/pathmax.h
/setlocale-lock.c
/setlocale_null.c
/setlocale_null.h
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/sys_stat.in.h
/time.in.h
/unistd.c
/wctype-h.c
/windows-initguard.h
/windows-mutex.c
/windows-mutex.h
/windows-once.c
/windows-once.h
/windows-recmutex.c
/windows-recmutex.h
/windows-rwlock.c
/windows-rwlock.h
/fcntl.h
/glthread/
/inttypes.h
/limits.h
/locale.h
/time.h
